<div class="container sidebar">
  <h3>Menu Options</h3>

  <p>
    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <i class="pi pi-home"></i> Home
    </a>
  </p>
  <p>
    <a routerLink="public/official-repositories" routerLinkActive="active">
      <i class="pi pi-box"></i> Docker Official
    </a>
  </p>
  <p>
    <a routerLink="public/verified-repositories" routerLinkActive="active">
      <i class="pi pi-box"></i> Verified Publisher
    </a>
  </p>
  <p>
    <a routerLink="public/sponsored-repositories" routerLinkActive="active">
      <i class="pi pi-box"></i> Sponsored OSS
    </a>
  </p>
  <p *ngIf="isLoggedIn()">
    <a routerLink="/repositories" routerLinkActive="active">
      <i class="pi pi-box"></i> My Repositories
    </a>
  </p>
  <p *ngIf="isAdmin()">
    <a routerLink="/admin/official-repositories" routerLinkActive="active">
      <i class="pi pi-shield"></i> Official Images
    </a>
  </p>
  <p *ngIf="isAdmin()">
    <a routerLink="/analytics" routerLinkActive="active">
      <i class="pi pi-clipboard"></i> Analytics
    </a>
    <a routerLink="/regulars" routerLinkActive="active">
      <i class="pi pi-users"></i> Regulars
    </a>
  </p>
  <p *ngIf="isSuperAdmin()">
    <a routerLink="/admins" routerLinkActive="active">
      <i class="pi pi-users"></i> Admins
    </a>
  </p>

</div>
