.sidebar {
    /* width: 100%; */
    height: 600px;
}

.filters { 
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.filter-row {
    display: flex;
    align-items: center; 
    gap: 0.5rem
}
