<div class="container sidebar">
    <!-- <p>Sidebar menu </p> -->
    <h3>Search Filters</h3>

    <div [formGroup]="filtersForm" class="filters">
        <div class="filter-row">
            <p-checkbox
                inputId="official"
                formControlName="isOfficial"
                [binary]="true"
            ></p-checkbox>
            <label for="official">
                Docker Official Image
            </label>
        </div>

        <div class="filter-row">
            <p-checkbox
                inputId="verified"
                formControlName="isVerified"
                [binary]="true"
            ></p-checkbox>
            <label for="verified">
                Verified Publisher
            </label>
        </div>

        <div class="filter-row">
            <p-checkbox
                inputId="sponsored"
                formControlName="isSponsored"
                [binary]="true"
            ></p-checkbox>
            <label for="sponsored">
                Sponsored OSS
            </label>
        </div>
    </div>

    <p *ngIf="isLoggedIn()">
        <a routerLink="/repositories" routerLinkActive="active">
            <i class="pi pi-box"></i> My Repositories
        </a>
    </p>
    <p *ngIf="isAdmin()">
        <a routerLink="/admin/official-repositories" routerLinkActive="active">
            <i class="pi pi-shield"></i> Official Images
        </a>
    </p>
</div>
