<div class="container sidebar">
    <h3>Menu Options</h3>

    <p>
        <a routerLink="public/official-repositories" routerLinkActive="active">
            <i class="pi pi-box"></i> Docker Official 
        </a>
    </p>
    <p>
        <a routerLink="public/verified-repositories" routerLinkActive="active">
            <i class="pi pi-box"></i> Verified Publisher
        </a>
    </p>
    <p>
        <a routerLink="public/sponsored-repositories" routerLinkActive="active">
            <i class="pi pi-box"></i> Sponsored OSS
        </a>
    </p>

    <p *ngIf="isLoggedIn()">
        <a routerLink="/repositories" routerLinkActive="active">
            <i class="pi pi-box"></i> My Repositories
        </a>
    </p>
    <p *ngIf="isAdmin()">
        <a routerLink="/admin/official-repositories" routerLinkActive="active">
            <i class="pi pi-shield"></i> Official Images
        </a>
    </p>
</div>
