<div class="base container home">
    <h3>Trending this week</h3>
    <div class="items">
        <div *ngFor="let item of [].constructor(4); let i = index" class="container item">
            Docker Image {{ i }}
        </div>
    </div>
    <h3>Most pulled images</h3>
    <div class="items">
        <div *ngFor="let item of [].constructor(4); let i = index" class="container item">
            Docker Image {{ i }}
        </div>
    </div>
    <h3>Database & storage</h3>
    <div class="items">
        <div *ngFor="let item of [].constructor(4); let i = index" class="container item">
            Docker Image {{ i }}
        </div>
    </div>
</div>