@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

body, .p-component {
  font-family: 'Ubuntu Mono', monospace !important;
}

.container { 
    border: 1px solid var(--p-zinc-600);
    border-radius: 4px;
    padding: 8px;
}

p-inputtext, p-select {
    width: 200px;
}