<div class="container card" (click)="viewDetails()">
    <div class="card-header">
        <img src="assets/logo-docker.svg" alt="Logo"/>
        <div class="top-stat">
            <p *ngIf="!repo.official" class="card-title">{{repo.ownerUsername}}/{{repo.name}}</p>
            <p *ngIf="repo.official" class="card-title">{{repo.name}}</p>
            <div>
                <span *ngIf="repo.badge=='DOCKER_OFFICIAL_IMAGE'" class="official-badge">Docker Official Image</span>
                <span *ngIf="repo.badge=='VERIFIED_PUBLISHER'" class="verified-badge">Verified Publisher</span>
                <span *ngIf="repo.badge=='SPONSORED_OSS'" class="sponsored-badge">Sponsored OSS</span>
            </div>
        </div>
    </div>
    <div class="mid-stat stat-text">
        <p>{{repo.description}}</p>
    </div>
    <hr>
    <div class="stat-text">
        <div class="bot-stat">
            <span>Pulls</span>
            <span>{{formatCount(repo.numberOfPulls)}}</span>
        </div>
        <div class="bot-stat">
            <span>Stars</span>
            <span>{{repo.numberOfStars}}</span>
        </div>
        <div class="bot-stat">
            <span>Last Updated</span>
            <span>{{formatLastUpdated(repo.modifiedAt)}}</span>
        </div>
    </div>
</div>